<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/css/ShowPorposal.css" rel="stylesheet" />
    <link href="/css/AddProposal.css" rel="stylesheet" />
    <link href="/css/ManagerZlecenia.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>

<body>


    <div class="element-add">
        <h1>Pojazd: </h1>
        <input type="text" name="proposalName" value="" placeholder="..." />
    </div>
    <div class="element-add">
        <h1>Marka: </h1>
        <div class="dropdown">
            <button type="button" class="btn my-dropdown dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Wybierz marke
            </button>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><input type="submit" class="dropdown-item" name="brandName" value="Nazwa1" /></li>
                <li><input type="submit" class="dropdown-item" name="brandName" value="Nazwa2" /></li>
                <li><input type="submit" class="dropdown-item" name="brandName" value="Nazwa3" /></li>
            </ul>
        </div>
    </div>


    <div class="element-add">
        <h1>Nr rejestracyjny: </h1>
        <input type="text" name="proposalName" value="" placeholder="..." />
    </div>

    <div class="element-add">
        <h1>Typ pojazdu: </h1>
        <div class="dropdown">
            <button type="button" class="btn my-dropdown dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Wybierz typ
            </button>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><input type="submit" class="dropdown-item" name="brandName" value="Nazwa1" /></li>
                <li><input type="submit" class="dropdown-item" name="brandName" value="Nazwa2" /></li>
                <li><input type="submit" class="dropdown-item" name="brandName" value="Nazwa3" /></li>
            </ul>
        </div>
    </div>


    <div class="element-add">
        <h1>Wlasciciel: </h1>
        <div class="dropdown">
            <button type="button" class="btn my-dropdown dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Wybierz wlasciciela
            </button>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><input type="submit" class="dropdown-item" name="brandName" value="Nazwa1" /></li>
                <li><input type="submit" class="dropdown-item" name="brandName" value="Nazwa2" /></li>
                <li><input type="submit" class="dropdown-item" name="brandName" value="Nazwa3" /></li>
            </ul>
        </div>

    </div>
    <br />
    <br />
    <br />
    <div class="save-cancel">
        <button class="save-button">Zapisz</button>
        <button class="cancel-button">Anuluj</button>
    </div>

</body>

