<!doctype html>
<html lang="en">
<head>

    @Model List<Personel>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="/css/ManagerZlecenia.css" rel="stylesheet" />

</head>

<body>
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <div class="card-hover-shadow-2x mb-3 card">
                <div class="card-header">
                    <div class="text-capitalize font-weight-normal"><i class="fa-tasks"></i>&nbsp;Lista zleceń</div>
                </div>
                <div class="scroll-area-sm">
                    <perfect-scrollbar class="ps-show-limits">
                        <div style="position: static;" class="ps ps--active-y">
                            <div class="ps-content">
                                <ul class=" list-group list-group-flush">
                                    @foreach (var item in Model)
                                    {
                                        <li class="list-group-item">
                                            <div class="bg-warning"></div>
                                            <div class="p-0">
                                                <div class="row">
                                                    <div class="zlecenie-header">
                                                        <h5>@item.FirstName</h5>
                                                        <i>@item.LastName </i>
                                                    </div>
                                                    <div class="progess-container">
                                                        <div class="pudelko progress">
                                                            <div data-percentage="0%" style="width: 70%;" class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>

                                                        </div>
                                                        <button class="border-0 btn btn-outline-danger"> <i>USUŃ</i> </button>
                                                        <span class="circle"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </perfect-scrollbar>
                </div>
            </div>
        </div>
    </div>
</body>
