<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - warsztatSamochodowy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-template.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/myNavbar.css"/>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Carfix</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    @if (User.IsInRole("manager"))
                    {
                    <div class="container-functions">
                        <div class="nav-item on-hover-animation"><a class="nav-link" asp-area="" asp-controller="Proposals" asp-action="proposalList">Zlecenia</a></div>
                        <div class="nav-item on-hover-animation"><a class="nav-link" asp-area="" asp-controller="Vehicle" asp-action="VehicleList">Pojazdy</a></div>
                        <div class="nav-item on-hover-animation"><a class="nav-link" asp-area="" asp-controller="Client" asp-action="Index">Klienci</a></div>
                    </div>
                    }

                    @*Redirect jakis do tego*@

                    @if (!User.Identity.IsAuthenticated)
                    {
                        <div class="login-functions">
                            <div class="nav-item login-button">
                                <a class="nav-link login-button on-hover-animation" asp-area="" asp-controller="Login" asp-action="Login">Login</a>
                            </div>
                        </div>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {

                        <div class="login-functions">

                            <div class="nav-item">
                                <a class="nav-link text-dark on-hover-animation" asp-area="" asp-controller="Personel" asp-action="Account">Konto</a>
                            </div>
                            <div class="nav-item logout-button">
                                <a class="nav-link logout-button on-hover-animation" asp-area="" asp-controller="Login" asp-action="Logout">Wyloguj</a>
                            </div>


                        </div>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - warsztatSamochodowy
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
