<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/css/ManagerPojazdy.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

    <div class="search_wrap search_wrap_4">
        <div class="search_box">
            <div class="btn btn_common">
                <i class="fas fa-search"></i>
            </div>
            <input type="text" class="input" placeholder="search...">
        </div>
    </div>


    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action
    </button>
    <div class="dropdown-menu">
        <form action="/vehicleList" method="post">
            <a class="dropdown-item" asp-controller="Vehicle" asp-action="VehicleListS">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </form>
    </div>


    <div class="sorting-container">



        <button class="sort-button dropdown-menu">
            <span class="sorting-buton-text">Marka</span>
            <i class="button-icon fas fa-angle-down"></i>

        </button>

        <div class="sort-button">
            <a href="#">Data przyjecia</a>
            <i class="fas fa-angle-down"></i>
        </div>

        <div class="sort-button">
            <a href="#">Właściciel</a>
            <i class="fas fa-angle-down"></i>
        </div>

        <div class="sort-button">
            <a href="#">Status</a>
            <i class="button-icon fa-angle-down"></i>
        </div>
    </div>




    <script src="/js/ManagerPojazdy.js"></script>
</body>