@model warsztatSamochodowy.Forms.ActionSetCancelledForm

@{
    ViewData["Title"] = "SetCancelled";
}

<link href="/css/ManagerZlecenia.css" rel="stylesheet" />

<h1>Anuluj</h1>

<h3>@ViewData["Header"]</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SetCancelled">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <h2>Wpisz rezultat</h2>
                <textarea asp-for="ResultText" class="form-control"></textarea>
                <span asp-validation-for="ResultText" class="text-danger"></span>
            </div>
            <br />
            <button class="btn btn-blue" type="submit">Realizuj</button>
        </form>
    </div>
</div>

<div>
    <br />
    <form asp-controller="Action" asp-action="editAction" method="get">
        <button class="btn btn-green" name="actionId" value="@Model.Id" type="submit">Powrót</button>
    </form>
    <br />


</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
