@model warsztatSamochodowy.Forms.ActionSetFinalForm

@{
    ViewData["Title"] = "SetFinal";
}

<h1>Realizuj</h1>

<h3>@ViewData["Header"]</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SetFinal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ResultText" class="control-label"></label>
                <textarea asp-for="ResultText" class="form-control"></textarea>
                <span asp-validation-for="ResultText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Realizuj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Lista</a>
    <a asp-action="SetCancelled" asp-route-id="@Model.Id">Kanceluj</a> |
    <a asp-action="BrowseAction" asp-route-id="@Model.Id">Przeglądaj</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
