.container-functions{
    display:flex;
 
}


.login-functions{
    width:100%;
    display:flex;
    justify-content:flex-end;
}

.on-hover-animation:hover{
    animation: grow 1.5s ease-in infinite;
}

.btn:hover {
    opacity: 0.6;
}

.btn {
    transition: 0.3s;
}

@keyframes grow{
    0%{
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.0);
    }
}

.login-button {
    color: rgb(20, 179, 250) !important;
}

.logout-button {
    color: #fc2c2c !important;
}

.bold-font {
   font-weight: 900 !important;
}
.test{
    width:50px;
    height:50px;
    border: 2px solid red;
}
